{define content}
{control event:map}


{/define}

{*
 * layout template
 *}

{block #administration-links}
	<li class="list-group-item">
		<a n:href="new" class="btn btn-success">Vložit nový</a>
	</li>	
	<li class="list-group-item">
		<a n:href="archive" class="btn btn-success">Všechny</a>
	</li>
{/block}
