{define #content}

{control addMusicianForm}

{/define}

{*
 * layout template
 *}

{block #administration-links}
	<li class="list-group-item">
		<a n:href="insert" class="btn btn-success">Vložit nového člena</a>
	</li>	
	<li class="list-group-item">
		<a n:href="default" class="btn btn-success">Všechny</a>
	</li>
{/block}